.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

web-app/**
!web-app/build/**/*
types/**
definitions/**
**/mock/**
/media/**

.config.json
.versionrc
.cz-config.js
.husky/**
.sentry*